<p id="notice"><%= notice %></p>

<p>
  <strong>Religion input:</strong>
  <%= @religion.religion_input %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @religion.popularity %>
</p>

<%= image_tag @religion.avatar.url %>

<%= link_to 'Edit', edit_religion_path(@religion) %> |
<%= link_to 'Back', religions_path %>
